.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

#firstSpace{
 color:red;
 height: 56px;
}

#allInfo { 
	background-color: #EBF5FB;
	
  }

#eachC {
	
	border-bottom: .5px solid black;
}

img {
  width: 210px;
  height: 140px;
}